<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="container is-max-tablet">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/images/logo.png" width="112" height="28" alt="{{ site.title }}">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/archive">
          Archive
        </a>
        <a class="navbar-item" href="/about">
          About
        </a>
        <!-- <a class="navbar-item" href="/contact">
          Contact Us
        </a> -->
      </div>
      <div class="navbar-end">
      </div>
    </div>
  </div>
</nav>