/* @media only screen and (min-width: 769px) {
    .container {
        margin-left: 20%;
        margin-right: 20%;
    }
} */

@media screen and (min-width: 769px) {
    .container {
        max-width: 769px;
    }
}