@media screen and (min-width: 769px) {
    .container {
        max-width: 769px;
    }
}

@media screen and (min-width: 1023px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen).is-max-tablet {
        max-width: 1023px;
    }
}

.summary .box {
    transition: 0.5s;
    position: relative;
    border-radius: 10px;
}

.summary .box:hover {
    transform: translate(4px, 4px);
}

.summary.is-featured .thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-color: inherit;
}

.summary .thumbnail > img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.summary .thumbnail > img.portrait {
    width: 100%;
    height: auto;
}

.summary:not(.is-featured) .content {
    z-index: 1000;
}

.summary:not(.is-featured) .thumbnail {
    position: absolute;
    left: 25%;
    width: 75%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    z-index: 100;
    background-color: inherit;
}

.summary:not(.is-featured) .thumbnail::before {
    content:"";
    position: absolute;
    width: 60%;
    height: 200%;
    top: -50%;
    left: -50%;
    transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    z-index: 1000;
    background-color: inherit;
}