{%- if page.image -%}
{%- assign postImage = page.image | relative_url -%}
{%- else -%}
{%- assign postImage = "/assets/images/image-default.png" -%}
{%- endif -%}

{%- assign postAbstract = post.abstract | truncate: 40 -%}


<a href="{{ post.url }}" class="summary {% if featuredPost %}is-featured{% endif %} " style="width: 100%;">
    {% if featuredPost == true %}
    <div class="box p-0 is-flex is-flex-direction-column" style="height: 100%;">
        <figure class="thumbnail" style="min-height: 250px;">
            <img src="{{ postImage }}" alt='Image Not Found!' class="portrait">
        </figure>
        <div class="content is-small p-3">
            <h1 class="mb-3">{{ post.title }}</h1>
            <div class="is-flex mb-3">
                <p><span>{{ post.author }}</span> | <span>{{ post.date | date_to_long_string }}</span></p>
            </div>
            <p>{{ postAbstract }}</p>
            <p>{% for tag in post.tags %}<span class="tag mr-1 mb-1">{{ tag }}</span>{% endfor %}</p>
        </div>
    </div>
    {% else %} 
    <div class="box p-0 is-flex is-flex-direction-column">
        <figure class="thumbnail" style="min-height: 150px;">
            <img src="{{ postImage }}" alt='Image Not Found!' class="portrait">
        </figure>
        <div class="content is-small p-3">
            <h1 class="mb-3">{{ post.title }}</h1>
            <div class="is-flex mb-3">
                <p><span>{{ post.author }}</span> | <span>{{ post.date | date_to_long_string }}</span></p>
            </div>
            <p>{{ postAbstract }}</p>
            <p>{% for tag in post.tags %}<span class="tag mr-1 mb-1">{{ tag }}</span>{% endfor %}</p>
        </div>
    </div>
    {% endif %}
</a>