---
layout: default
---

<div class="section">
    <div class="container">
        <div class="is-flex is-justify-content-center">
            <div class="box p-6" style="min-width: 512px;">
                <div class="field is-horizontal pb-3">
                    <div class="field-label is-normal">
                        <label class="label">Theme</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <div class="select is-fullwidth">
                                    <select id="themeSelect">
                                        <option value="default">Default</option>
                                        <option value="light">Light</option>
                                        <option value="dark">Dark</option>
                                        <option value="system">System</option>
                                    </select>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button" id="saveButton">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>